{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}
<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

<share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
  <button class="share-button__button hidden">
    <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
    {{ block.settings.share_label | escape }}
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="share-button__button">
      <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
      {{ block.settings.share_label | escape }}
    </summary>
    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
        <input
          type="text"
          class="field__input"
          id="ShareUrl-{{ section.id }}"
          value="{{ share_link }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden">
        <span class="svg-wrapper">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy">
        <span class="svg-wrapper">
          {{- 'icon-copy.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>
  <div class="social-icons">
    <a
      class="social-facebook--link"
      href="https://facebook.com/sharer.php?u={{ canonical_url }}&t={{ title }}"
      target="_blank"
      aria-label="{{ facebook_share_t }}"
    >
    <svg class="icon--root icon--facebook" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path d="M18.896 0H1.104C.494 0 0 .494 0 1.104v17.793C0 19.506.494 20 1.104 20h9.58v-7.745H8.076V9.237h2.606V7.01c0-2.583 1.578-3.99 3.883-3.99 1.104 0 2.052.082 2.329.119v2.7h-1.598c-1.254 0-1.496.597-1.496 1.47v1.928h2.989l-.39 3.018h-2.6V20h5.098c.608 0 1.102-.494 1.102-1.104V1.104C20 .494 19.506 0 18.896 0Z" fill="#000" fill-rule="evenodd"></path>
  </svg>
    </a>

    <a
      class="social-x--link"
      href="https://twitter.com/intent/tweet?text=Check%20out%20this%20{{ request.page_type }}:+{{ canonical_url }}"
      target="_blank"
      aria-label="{{ x_share_t }}"
    >
    <svg class="icon--root icon--x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1668.56 1221.19">
    <path d="m336.33 142.251 386.39 516.64-388.83 420.05h87.51l340.42-367.76 275.05 367.76h297.8l-408.13-545.7 361.92-390.99h-87.51l-313.51 338.7-253.31-338.7h-297.8zm128.69 64.46h136.81l604.13 807.76h-136.81l-604.13-807.76z"></path>
  </svg>
    </a>
 
    <a
      class="social-email--link"
      href="mailto:?Subject={% if request.page_type == 'product' %}{{ product.title | url_escape }}{% elsif request.page_type == 'article' %}{{ article.title | url_escape }}{% endif %}&body={{ canonical_url }}"
      aria-label="{{ email_share_t }}"
    >
    <svg class="icon--root icon--email" width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.333 10.792.017 0H26.65L13.333 10.792ZM7.306 8.768 0 2.847v13.89l7.306-7.97Zm12.055 0 7.306 7.969V2.847l-7.306 5.92Zm-1.73 1.4-4.298 3.484-4.297-3.483L.024 20h26.618l-9.01-9.831Z" fill="#000"></path>
    </svg>
    </a>

    <span
      class="social-url--link"
      tabindex="0"
      role="button"
      aria-label="{{ url_share_t }}"
      aria-describedby="feedback"
      onclick="copyProductLink()"
    >
    <svg class="icon--root icon--link" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.824 7.266a5.372 5.372 0 0 1 1.203-.906c2.406-1.326 5.49-.62 7.037 1.724l-1.871 1.871a2.82 2.82 0 0 0-3.195-1.624c-.5.112-.974.36-1.361.748L4.05 12.668a2.796 2.796 0 0 0 0 3.95 2.796 2.796 0 0 0 3.95 0l1.106-1.106c1.006.399 2.084.558 3.15.479l-2.442 2.44a5.358 5.358 0 1 1-7.577-7.577l3.587-3.588Zm5.696-5.697L9.08 4.01a7.111 7.111 0 0 1 3.149.478l1.105-1.105a2.796 2.796 0 0 1 3.95 0 2.796 2.796 0 0 1 0 3.95l-3.588 3.588a2.798 2.798 0 0 1-3.95 0 2.972 2.972 0 0 1-.606-.876l-1.871 1.87c.196.3.4.557.663.82a5.338 5.338 0 0 0 2.53 1.42 5.368 5.368 0 0 0 3.844-.515c.432-.238.838-.54 1.203-.906l3.587-3.587a5.357 5.357 0 1 0-7.576-7.578Z" fill="#000"></path>
    </svg>
    </span>
  </div>
  <div class="pinterest">
    <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_image | product_img_url: 'large' }}" class="pin-it-button" count-layout="horizontal">Pin It</a>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
  </div>
</share-button>
